@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
  color: black;
  text-decoration: none;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #F0F0F2;
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 839px;
  background: url("../img/UVIYOrIo8oGeh207JgXMFWGbR_keEUTZKWzT23EJjDHOw0yP9bLxPgB4ws8kDk1sC7TEQfLgnKSxgq6tFlmfm_Q2fV53DEdl7oc8f5ahDbWgmhM4yiDl_KmvsGy2Drr2GKSOmFIjIR_0GdF5xRm8qn_B0kbAgarAgqXOiDa7acwichsJAgvxln817L03RtwVwJoT61zBcosd3mKNBwzpdPgHv5ihYTG4l8mi-vMrbbj-8WMEIPBYEMNn7.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__container {
  margin: 0 auto;
  width: 1400px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(248, 247, 248, 0.1607843137);
}
.header__container-logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
  height: 60px;
  width: 190px;
}
.header__container-logo p {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 900;
  color: white;
}
.header__container-navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.header__container-navbar .hamburger-menu {
  height: 40px;
  display: none;
}
.header__container-navbar .hamburger-menu .hamburger__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw; /* полная ширина */
  height: 100vh; /* полная высота */
  background-color: rgba(0, 0, 0, 0.4); /* цвет фона - прозрачный черный */
}
.header__container-navbar .hamburger-menu .hamburger__modal-content {
  background-color: #fff;
  /* окно будет находится по центру по горизонтали и с отступом сверху в 100 px */
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  font-size: 20px;
  /* разнесем текст и кнопоку по краям окна */
  display: flex;
  flex-direction: column;
}
.header__container-navbar .hamburger {
  width: 30px;
  height: 3px;
  margin: 5px;
}
.header__container-navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header__container-navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-family: Comfortaa;
}
.header__intro {
  width: 348px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-size: Comfortaa;
  float: right;
  margin: 0 auto;
  margin-top: 240px;
  padding: 100px;
}
.header__intro .intro {
  color: white;
  font-size: 64px;
}
.header__intro .pov-intro {
  color: #ffffff;
  font-size: 36px;
}

.slider__container {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 1400px;
  height: 852px;
  margin: 90px auto;
}
.slider__container {
  position: relative;
  width: 100%;
  height: 852px;
  margin: 0 auto;
  overflow: hidden;
}
.slider__container-block {
  width: 100%;
  height: 100%;
}
.slider__container .prev-button, .slider__container .next-button {
  position: absolute;
  top: 45%;
  width: 100px;
  height: 100px;
  background: url("../img/Arrow left(1).svg") no-repeat;
  border: none;
}
.slider__container .prev-button {
  left: 10px;
}
.slider__container .next-button {
  right: 10px;
  background: url("../img/Arrow left(2).svg") no-repeat;
}
.slider img {
  width: 1400px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    margin-top: 90px;
    position: relative; /* Позволяет дочерним элементам позиционироваться относительно него */
    height: 250px; /* Высота header */
    background: url("../img/UVIYOrIo8oGeh207JgXMFWGbR_keEUTZKWzT23EJjDHOw0yP9bLxPgB4ws8kDk1sC7TEQfLgnKSxgq6tFlmfm_Q2fV53DEdl7oc8f5ahDbWgmhM4yiDl_KmvsGy2Drr2GKSOmFIjIR_0GdF5xRm8qn_B0kbAgarAgqXOiDa7acwichsJAgvxln817L03RtwVwJoT61zBcosd3mKNBwzpdPgHv5ihYTG4l8mi-vMrbbj-8WMEIPBYEMNn7.webp");
    background-size: contain; /* или другое значение */
    background-position: top; /* измените позицию, если нужно */
    background-repeat: no-repeat; /* или другое значение */
  }
  .header__container {
    width: 100%;
    position: absolute; /* Позволяет разместить контейнер поверх header */
    top: -90px; /* Отступ сверху */
    z-index: 1; /* Устанавливаем выше фона */
    background-color: rgba(166, 166, 166, 0.399);
  }
  .header__container-logo p {
    color: black;
  }
  .header__modal {
    width: 100%;
    height: 900;
  }
  .header__intro {
    width: 40%;
    height: 80px;
    margin: 0;
    padding: 0;
    margin-top: 30%;
    gap: 10px;
    float: right;
  }
  .header__intro .intro {
    font-size: 100%;
    color: white;
  }
  .header__intro .pov-intro {
    font-size: 100%;
  }
  .header__intro img {
    width: 30%;
    height: 30%;
  }
  .slider {
    width: 100%;
    height: auto;
    margin: 5% auto;
    display: flex;
  }
  .slider__container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  .slider__container .prev-button, .slider__container .next-button {
    top: 40%;
    width: 13%;
    height: 20%;
    background-size: 80%;
    background-position: center;
  }
  .slider__container.prev-button {
    left: 0;
  }
  .slider__container.next-button {
    float: right;
  }
  .slider__container img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__container-logo {
    margin-left: 10px;
  }
  .header__container-navbar .hamburger-menu {
    display: block;
  }
  .header__container-navbar .nav-links {
    display: none;
  }
}